
@{
    ViewBag.Title = "API server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<section>
    <div>
        <h2>
            Web API server is started.
        </h2>
    </div>
</section>